In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("sales_data.csv")

In [5]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,294049,Lightning Charging Cable,1,14.95,12/22/19 19:16,"939 Odomankuma St, Kumasi, AS 40001"
1,294050,Wired Headphones,1,11.99,12/30/19 18:15,"116 Kwaku Boateng St, Sunyani, BA 10001"
2,294051,USB-C Charging Cable,2,11.95,12/25/19 16:17,"924 1st St, Kumasi, AS 40001"
3,294052,Wired Headphones,1,11.99,12/24/19 13:15,"148 12th St, Wa, UE 48101"
4,294053,27in FHD Monitor,1,149.99,12/06/19 21:21,"172 Nii Armah St, Ho, VR 90001"

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185563 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 8.5+ MB

In [7]:
rows, columns = df.shape
print(f"rows:{rows}  columns:{columns}")

rows:185563  columns:6

In [8]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,185078,185078,185078,185078,185078,185078
unique,177210,20,11,24,141845,140081
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,346,21867,167426,21867,346,346

In [9]:
# number of nulls
df.isnull().sum()

Order ID            485
Product             485
Quantity Ordered    485
Price Each          485
Order Date          485
Purchase Address    485
dtype: int64

In [10]:
# drop null values
df.dropna(how = "all", inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185078 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [12]:
# the numeric column quantity ordered contains a value which is a string of alphabets 
# df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

In [13]:
df["Quantity Ordered"].unique()

array(['1', '2', '4', '3', 'Quantity Ordered', '5', '6', '7', '8', '10',
       '9'], dtype=object)

In [14]:
df = df[df["Quantity Ordered"] != "Quantity Ordered"]

In [15]:
df["Quantity Ordered"].unique()

array(['1', '2', '4', '3', '5', '6', '7', '8', '10', '9'], dtype=object)

In [16]:
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184732 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          184732 non-null  object
 1   Product           184732 non-null  object
 2   Quantity Ordered  184732 non-null  int64
 3   Price Each        184732 non-null  object
 4   Order Date        184732 non-null  object
 5   Purchase Address  184732 non-null  object
dtypes: int64(1), object(5)
memory usage: 9.9+ MB

In [18]:
df.describe()

       Quantity Ordered
count     184732.000000
mean           1.124813
std            0.443598
min            1.000000
25%            1.000000
50%            1.000000
75%            1.000000
max           10.000000

In [19]:
df["Quantity Ordered"].mean()

1.1248132429681919

In [20]:
df["Quantity Ordered"].min()

1

In [21]:
df["Quantity Ordered"].max()

10

In [22]:
df["Quantity Ordered"].std()

0.44359778840488195

In [23]:
df["Quantity Ordered"].count()

184732

In [24]:
df["Price Each"] = pd.to_numeric(df["Price Each"])

In [25]:
df["Purchase Amount"] = df["Quantity Ordered"] * df["Price Each"]

In [26]:
df["Order Date"] = pd.to_datetime(df["Order Date"])

C:\Users\Admin2\AppData\Local\Temp\ipykernel_8792\13081262.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Order Date"] = pd.to_datetime(df["Order Date"])

In [27]:
df["Year"] = df["Order Date"].dt.year

In [28]:
df["Month Name"] = df["Order Date"].dt.month_name()

In [29]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name
0,294049,Lightning Charging Cable,1,14.95,2019-12-22 19:16:00,"939 Odomankuma St, Kumasi, AS 40001",14.95,2019,December
1,294050,Wired Headphones,1,11.99,2019-12-30 18:15:00,"116 Kwaku Boateng St, Sunyani, BA 10001",11.99,2019,December
2,294051,USB-C Charging Cable,2,11.95,2019-12-25 16:17:00,"924 1st St, Kumasi, AS 40001",23.90,2019,December
3,294052,Wired Headphones,1,11.99,2019-12-24 13:15:00,"148 12th St, Wa, UE 48101",11.99,2019,December
4,294053,27in FHD Monitor,1,149.99,2019-12-06 21:21:00,"172 Nii Armah St, Ho, VR 90001",149.99,2019,December
...,...,...,...,...,...,...,...,...,...
185558,216589,Bose SoundSport Headphones,1,99.99,2019-06-20 21:25:00,"849 Yorm St, Ho, VR 90001",99.99,2019,June
185559,216590,Wired Headphones,1,11.99,2019-06-27 05:42:00,"741 Otu Blohum St, Sunyani, BA 10001",11.99,2019,June
185560,216591,Lightning Charging Cable,1,14.95,2019-06-10 18:22:00,"110 8th St, Cape Coast, CR 85001",14.95,2019,June
185561,216592,AA Batteries (4-pack),1,3.84,2019-06-30 12:11:00,"756 Balagu St, Ho, VR 90001",3.84,2019,June
185562,216593,Bose SoundSport Headphones,1,99.99,2019-06-28 19:23:00,"451 4th St, Ho, VR 90001",99.99,2019,June

In [30]:
import pandas as pd


df = pd.read_csv("sales_data.csv")

df.head()

df.info()

rows, columns = df.shape
print(f"rows:{rows}  columns:{columns}")

df.describe()

# number of nulls
df.isnull().sum()

# drop null values
df.dropna(how = "all", inplace=True)

df.info()



# the numeric column quantity ordered contains a value which is a string of alphabets 
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

df["Quantity Ordered"].unique()

df = df[df["Quantity Ordered"] != "Quantity Ordered"]

df["Quantity Ordered"].unique()

df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

df.info()

df.describe()

df["Quantity Ordered"].mean()

df["Quantity Ordered"].min()

df["Quantity Ordered"].max()

df["Quantity Ordered"].std()

df["Quantity Ordered"].count()

df["Price Each"] = pd.to_numeric(df["Price Each"])

df["Purchase Amount"] = df["Quantity Ordered"] * df["Price Each"] 

df["Order Date"] = pd.to_datetime(df["Order Date"])

df["Year"] = df["Order Date"].dt.year


df["Month Name"] = df["Order Date"].dt.month_name()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185563 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 8.5+ MB
rows:185563  columns:6
<class 'pandas.core.frame.DataFrame'>
Index: 185078 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

ValueError: Unable to parse string "Quantity Ordered" at position 434

In [ ]:
df